.agregar-servicio-container {
  padding: 20px;
  max-width: 740px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 20px;
}

select, input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.disponibilidad-container {
  margin-top: 20px;
}

.dia-disponibilidad {
  margin-bottom: 20px;
}

.hora-disponible, .hora-no-disponible {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.hora-disponible {
  background-color: #4caf50;
}

.hora-no-disponible {
  background-color: #f44336;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
