.profesional-home-container {
    padding: 20px;
    /* background-color: #f5f0e6; */
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    color: #4a4541;
}

.servicios-lista {
    margin-top: 20px;
}

.encabezado, .servicio-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.encabezado span {
    font-weight: bold;
}

.ver-btn, .eliminar-btn, .añadir-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.ver-btn {
    background-color: #a1d0e6;
}

.eliminar-btn {
    background-color: #e67f83;
    color: white;
}

.añadir-btn {
    display: block;
    margin: 20px auto;
    background-color: #a1d0e6;
    padding: 10px 20px;
}
